[Unit]
Description=CAN Interface Setup (MCP2518FD)
After=network.target
Before=vehiclecontrol-ecu.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/can-setup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
